<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.2.xsd">
 
	<!-- 
	windows-based authentication
	<http>
		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')"></intercept-url>
		<http-basic />
	</http> -->
	
	<!-- 
	default spring login form
	<http>
		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')"></intercept-url>
		<form-login/>
		<logout logout-success-url="/index" />
	</http> -->
	<!-- <http pattern="/assets/**" security="none"/> -->
	<http use-expressions="true">
		<!-- <intercept-url pattern="/login/**" access="permitAll" /> -->
		<intercept-url pattern="/welcome**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/search**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/saveTravelSelection**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/saveFutureTravelDetails**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/validateUserLogin**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/travelsearch**" access="hasRole('ROLE_USER')"></intercept-url>
		<form-login login-processing-url="/j_spring_security_check" login-page="/login" default-target-url="/welcome" authentication-failure-url="/loginfailed" 
		 always-use-default-target="true" username-parameter="j_username" password-parameter="j_password"/>
		<logout logout-success-url="/welcome" logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID"/>
		<csrf disabled="true"/>
	</http>

	 <authentication-manager>
	 	<authentication-provider>
	 		<jdbc-user-service data-source-ref="dataSource" 
	 			authorities-by-username-query="select a.username as username, b.role_name as authority from user_profile a, roles b where a.role_id=b.role_id and a.username=?"
	 			users-by-username-query="select username,password,active from user_profile where username=?"	
	 		/>
	 			
	 	</authentication-provider>
	 </authentication-manager>
	 
	 <debug/>
</beans:beans>